
@import url(Module_1_task_1_variables.css);
a:focus-visible, input:focus-visible, button:focus-visible{
    outline: 2px solid orange;
}
body{
    background-color: var(--bg-color);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
}

h1,h2,h3{
    color: var(--main-txt);
}
p{
    color: var(--a-color);
}
aside{
    width: 180px;
    border: 1px solid var(--border-color);
    border-left: none;
    border-radius: 0 25px 25px 0;
    padding: 0.9rem;
    height: 100vh;
    background-color: var(--bg-color);
    overflow-y: auto;
    translate: -100% 10%;
    transition: 0.5s;
    position: fixed;
    z-index: 5;
}

.side-menu{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#asideCheckbox{
    visibility: hidden;
}
#asideCheckbox:checked ~ aside{
    translate: 0% 10%;
}
.btn,.label-for-all-project{
    display: inline-block;
    padding: 0.7rem;
    background-color: var(--btn-color);
    border-radius: 10px;
    color: white;
}
.secBtn{
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--a-color);
    transition: 0.2s;
}

.label-for-all-project{
    font-weight: 600;
    width: fit-content;
    position: fixed;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    z-index: 6;
}
nav a{

}

/* --------------menu for all projects------------------------ */
a{
    text-decoration: none;
    color: var(--a-color);
}
a:focus-visible{
    outline: 2px solid orange;
    outline-offset: 2px;
}
header, main, footer{
    padding: 16px;
    max-width: 1120px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 15px var(--shadow-color);
    border-radius: 100px;
    padding-inline: 2rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}
nav a{
    padding:  0.1rem .5rem;
    border-radius: 4px;
    transition: 0.3s;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    padding: 0;
}
.card{
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card>img{
    width: 100%;
}
.heading{
    text-align: center;
}
.features-grid{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:16px;
}
.card-mod{
    position: relative;
    padding-top: 6rem;
    margin-top: 7rem;
}
.card-mod>img{
    position: absolute;
    width: 75%;
    bottom: 75%;
    left:10%;
}
@media(max-width:768px){
    .card-mod{
        margin-top: 10rem;
        padding-top: 7rem;
    }
    .card-mod>img{
        bottom: 65%;
    }
    .features-grid{
        grid-template-columns: 1fr 1fr;
    }
    .card-grid{
        grid-template-columns: 1fr;
    }
}
@media(max-width:425px){
    .features-grid{
        grid-template-columns: 1fr;
    }
}
@media (hover:hover) and (pointer: fine){
    .secBtn:hover{
        box-shadow: 0 0 15px var(--shadow-color);
        translate: 0 -4px;
    }
    .label-for-all-project{
        transition:box-shadow 0.3s;
    }
    .label-for-all-project:hover{
        border-color: transparent;
        box-shadow: 0 0 15px rgba(151, 183, 241, 0.568);
    }
    nav a:hover{
        box-shadow: 0 0 15px var(--shadow-color);
    }
}
.secBtn:active{
    box-shadow: inset 0 0 5px var(--inner-shadow-color);
    background-color: var(--bg-color-active);
    color: var(--btn-active-color);
    translate: 0 0px;
    
}
.label-for-all-project:active{
    box-shadow: inset 0 0 5px var(--shadow-color);
    color: rgb(212, 212, 212);
    translate: 0 5%;
    background-color: rgb(74, 89, 158);

}

