input{
    margin-bottom: 0;
    color: var(--main-txt);
}
input:invalid{
    border: 1px solid rgb(249, 109, 109);
    box-shadow: inset 0 0 15px rgba(251, 87, 87, 0.4);
}
input:valid{
    border: 1px solid rgb(109, 249, 184);
    box-shadow: inset 0 0 15px rgba(109, 249, 184, 0.4);
}
.field{
    font-size: 1rem;
    padding: 1em;
    margin-bottom: .75rem;
    border-radius: 15px;
    border: 1px solid transparent;
    position: relative;
    padding-top: 2rem;
}
.field:focus-within{
    box-shadow: 0 0 15px rgba(141, 141, 235, 0.535);
    border-color: rgb(141, 141, 235);

}
.field label{
    position: absolute;
    top: 42px;
    left: 30px;
    transition: 0.3s;
}
.field input:focus ~ label,
.field input:focus-visible ~ label,
.field input:not(:placeholder-shown) ~ label{
    top: 0px;
    color:var(--main-txt);
}