form>h3{
    text-align: center;
}
label{
    color:var(--a-color);
    display: inline-block;
    margin-bottom: .5rem;
}
input{
    display: inline-block;
    font-size: 1rem;
    width: 94%;
    margin-bottom: 2rem;
    padding: 0.75em 0 0.75em 0.75em;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--border-color);
}
form{
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: .5em;
    border-radius: 15px;
}
form:focus-within{
    border: 1px solid rgb(222, 157, 37);
    padding: .5em;
    border-radius: 15px;
}
input:focus-visible{
    box-shadow: 0 0 20px var( --shadow-color);
    outline: 2px solid rgb(255, 55, 185);
}
.btn:focus-visible{
    outline: 2px solid rgb(255, 55, 185);
}
.menu-wrapper{
    top:1rem;
}
.btn{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

#agree{
    width: auto;
    vertical-align: middle;
}
.info{
    width: 80%;
}
.field:last-child{
    display: flex;
    gap: 1rem;
}
#agree:checked~.btn{
    cursor:pointer;
    pointer-events:all;
    opacity: 1;
} 
