*::selection{
 background-color: orange;
 color: black;   
}
#advantagers,#questions{
    text-align: center;
}
#advantagers::before,#questions::before,#advantagers::after,#questions::after{
    content: "☁";
    vertical-align: middle;
    margin-inline: 1rem;
}
.card{
    margin-top: 2rem;
}
#advantagers+section li{
    color: var(--main-txt);
}
#advantagers+section ul{
    padding-left: 1.25rem;
}
#advantagers+section li::marker{
    content: "♕";
    color: var(--main-txt);
    font-size: 1.2em;
}
details{
    color: var(--main-txt);
    font-size: 1rem;
}
summary{
    list-style-type: none;
    cursor: pointer;
}
summary:focus-visible{
    outline: 2px solid orange;
    box-shadow: 0 0 15px rgba(237, 185, 87, 0.475);
    border-radius: 15px;
    padding: 0.5em;

}
summary::after{
    content: "✈";
    display: inline-block;
    transform: translate(10px, 0) rotate(0deg);
    translate: 10px 0;
    transition: .3s;
    color: var(--main-txt);
}
summary::-webkit-details-marker{
    display: none
}
details[open]>summary::after{
    transform: translate(10px, 0) rotate(90deg);
}

